In [1]:
import pandas as pd
import numpy as np

In [2]:
mp = pd.read_csv(r'C:\Users\harsh\Documents\MobilePriceRangePrediction\Mobile Price Range Prediction\Dataset\mobile_price.csv')

In [3]:
mp.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
mp.dtypes

battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

In [5]:
mp.price_range.value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

In [6]:
mp.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
mp_train, mp_test = train_test_split(mp, test_size = .2)

In [9]:
mp_train_x  = mp_train.iloc[: , 0:-1]
mp_train_y  = mp_train.iloc[: , -1]

mp_test_x  = mp_test.iloc[: , 0:-1]
mp_test_y  = mp_test.iloc[: , -1]

In [10]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
nb = MultinomialNB()

In [11]:
nb.fit(mp_train_x, mp_train_y)

MultinomialNB()

In [12]:
pred_nb = nb.predict(mp_test_x)

In [13]:
tab_nb = confusion_matrix(mp_test_y, pred_nb) 
tab_nb

array([[84, 22,  4,  1],
       [31, 42, 27, 17],
       [ 3, 25, 24, 28],
       [ 0,  9, 21, 62]], dtype=int64)

In [14]:
accuracy = tab_nb.diagonal().sum()/tab_nb.sum()
accuracy

0.53